body {
  background-color: #fff; }

h2 {
  color: pink; }

h3 {
  color: #000;
  max-width: 100;
  float: left; }

h1 {
  color: #000; }

body {
  background-color: yellow;
  color: #000; }
  body img {
    max-width: 100%; }
